<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walkB_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkB_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,71},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkB_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,67},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkB_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkB_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{9,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkB_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,54},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkF_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkF_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,48},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkF_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,41},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkF_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkF_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,28},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkF_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkL_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,25},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkL_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,15},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkL_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,15},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkL_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkL_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,2},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>walkL_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{61,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da86a71ef7ad70c9c002a192f2e0d292$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
